<%- include('../../shared/includes/head', { pageTitle: 'Pay failure'}) %>

</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Order failed.</h1>
        <p>please contact the shop owner for more details.</p>
        
    </main>

<%- include('../../shared/includes/footer') %>    
    
<!-- </body>
</html> -->